* {
    margin: 30;
    padding: 20;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background: rgb(68, 66, 182);
    color: white;
}

.button {
    background-color: rgb(225, 227, 225)

}

.button:hover {
    background-color: rgb(70, 186, 99);
}

#searchButton {
    color: black;
}

h1 {
    text-align: center;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color:  #001b44;
    color: white;
    font-size: 1.5em;
    line-height: 1.5;
  }